<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.js"></script>
    <script>

        /*var net = require('net');
        var client = new net.Socket();
        console.log(client);*/


        /*define(function (require) {
            var net = require('net');
            var server = net.createServer(function(socket) {
                socket.write('Echo server\r\n');
                socket.pipe(socket);
            });

            server.listen(5000, 'localhost');
        });*/

        /*var ws = new WebSocket("ws://localhost:5000");

        // и навешивает на новый объект три колл-бека:

        // первый вызовется, когда соединение будет установлено:
        ws.onopen = function() { console.log("Connection opened...") };

        // второй - когда соединено закроется
        ws.onclose = function() { console.log("Connection closed...") };

        // и, наконец, третий - каждый раз, когда браузер получает какие-то данные через веб-сокет
        ws.onmessage = function(evt) { console.log(evt.data)};*/

    </script>
</head>
<body>

<button id="getCardRandom">getCardRandom</button>
<button id="auth1">auth1</button>
<button id="auth2">auth2</button>
<button id="searchGame">searchGame</button>
<button id="gameWithBot">gameWithBot</button>
<button id="useCard">useCard</button>


<script>
    var net = require(['net']);
    //var client = new net.Socket();
    console.log(net);


    $('#getCardRandom').click(function () {
        var message = {
            messageType: 'getCardRandom'
        };
        message = JSON.stringify(message);
        ws.send(message);
    });
    $('#auth1').click(function () {
        var message = {
            messageType: 'auth',
            login: 1,
            password: 1
        };
        message = JSON.stringify(message);
        ws.send(message);
    });
    $('#auth2').click(function () {
        var message = {
            messageType: 'auth',
            login: 2,
            password: 2
        };
        message = JSON.stringify(message);
        ws.send(message);
    });
    $('#searchGame').click(function () {
        var message = {
            messageType: 'searchGame'
        };
        message = JSON.stringify(message);
        ws.send(message);
    });
    $('#useCard').click(function () {
        var message = {
            messageType: 'useCard',
            card_id: 1
        };
        message = JSON.stringify(message);
        ws.send(message);
    });
    $('#gameWithBot').click(function () {
        var message = {
            messageType: 'gameWithBot'
        };
        message = JSON.stringify(message);
        ws.send(message);
    });
</script>
</body>
</html>